.navbar{
    .navbar-brand{
        width:60px;
        img{
            width:100%
        }
    }
}


    .square {
        height: 50px;
        width: 50px;
        background-color: #555;
        -webkit-transition: width 1s; /* Safari */
        transition: width 1s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-in-out;
        }

    .circle {
        height: 50px;
        width: 50px;
        background-color: #555;
        border-radius: 50%;
        -webkit-transition: width 1s; /* Safari */
        transition: width 1s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-in-out;
        }

    .triangle {
            width: 0;
            height: 0;
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
            border-bottom: 50px solid #555;
            -webkit-transition: width 1s; /* Safari */
            transition: width 1s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-in-out;
        }
    
    .parallelogram {
            width: 100px;
            height: 50px;
            transform: skew(20deg);
            background: #555;
            -webkit-transition: width 1s; /* Safari */
            transition: width 1s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-in-out;
        }