<div class="well">
	En éste ejercicio, se deberán realizar las siguientes actividades:
	<ul>
		<li>Usando componentes de bootstrap, generar un espacio de trabajo como el que se muestra en la imagen de ejemplo. Dicho espacio se encuentra dividido en 2 y 10 columnas.</li>
		<li>Del lado izquierdo, crear un dropdown, cuyas opciones se generen de manera dinámica, basados en la referencia "geometrics" de la base de datos usada en el ejemplo anterior.</li>
		<ul>
			<li>
				La etiqueda de las opciones deberá adquirir el texto correspondiente a su contraparte del JSON
			</li>
			<li>Al seleccionar alguna de las opciones del dropdown, el texto del botón que despliega la
		</ul>
		<li>Del lado derecho, crear un panel "Workspace", dicho panel deberá contener un div, el cual, usando css, deberá convertirse en la forma geométrica que sea seleccionada en el dropdown creado en el paso anterior (deberá existir una función en el dropdown que active el cambio de forma)</li>
		<li>El color de la figura creada cambiará de forma aleatoria cada que se realice una selección en el dropdown</li>
		<li>Todos los cambios de forma y de color deben contar con una transición de css</li>
		<li>El título del panel deberá cambiar al nombre de la figura seleccionada.</li>
		<li>*Se muestran imágenes de ejemplo de área de trabajo y figuras geométricas.</li>
	</ul>
</div>
<br>
<img class="center-block" src="img/ejercicio-2.png" alt="">
<img class="center-block" src="img/geometrics.png" alt="">